[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
Werkzeug = "*"
sqlalchemy-serializer = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"
flask = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
